<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">



<head>
    <title>HTML5 MathML</title>

<!--    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>-->
<!--    <script type="text/javascript" id="MathJax-script"-->
<!--            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">-->


<!--    <script>-->
<!--        MathJax = {-->
<!--          tex: {-->
<!--            inlineMath: [['$', '$'], ['\\(', '\\)']]-->
<!--          }-->
<!--        };-->
<!--    </script>-->
<!--    <script id="MathJax-script" async-->
<!--            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">-->
<!--    </script>-->

    <script type="text/javascript" id="MathJax-script" async
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.0.0/es5/tex-mml-chtml.js">
    </script>
</head>

<body style="text-align:center;">

<h1 style="color:green">
    GeeksforGeeks
</h1>

<h3>HTML5 MathML</h3>

<!--start tag of the whole representation-->
<math xmlns="http://www.w3.org/1998/Math/MathML">
        <apply>
            <times/>
            <cn>5</cn>
            <cn>3</cn>
        </apply>

    <mrow>

        <apply>
            <plus/>
            <cn>2</cn>
            <cn>3</cn>
        </apply>
    </mrow>

    <mroot>
        <mn>8</mn>
        <mn>3</mn>
    </mroot>

    <mi>x</mi>
    <mo>+</mo>
    <mi>y</mi>
    <mo>=</mo>
    <mn>10</mn>
</math>


<math xmlns="http://www.w3.org/1998/Math/MathML">
    <!-- Creating equation -->
    <br><br>
    <msub>
        <mi>Geeks</mi>
        <mn>4</mn>
    </msub>
    <mo>+</mo>
    <mn>Geeks</mn>
    <mo>=</mo>
    <msub>
        <mi>G</mi>
    </msub>
    <mo>→</mo>
    <msub>
        <mi>e</mi>
        <mn>2</mn>
    </msub>
    <mo>→</mo>
    <mi>k</mi>
    <mi>s</mi>
    <mn>4
    </mn>
    <msub>
        <mi>G</mi>
    </msub>
    <mo>→</mo>
    <msub>
        <mi>e</mi>
        <mn>2</mn>
    </msub>
    <mo>→</mo>
    <mi>k</mi>
    <mi>s</mi>
</math>
<math xmlns="http://www.w3.org/1998/Math/MathML">

    <!-- Creating Matrix -->
    <mrow>
        <mi>A</mi>
        <mo>=</mo>

        <mfenced open="[" close="]">

            <mtable>
                <mtr>
                    <mtd>
                        <mi>a</mi>
                    </mtd>
                    <mtd>
                        <mi>b</mi>
                    </mtd>
                </mtr>

                <mtr>
                    <mtd>
                        <mi>x</mi>
                    </mtd>
                    <mtd>
                        <mi>y</mi>
                    </mtd>
                </mtr>

            </mtable>

        </mfenced>
    </mrow>

</math>


</body>

</html>
